# =========================
# .NET Specific
# =========================

# Build results
[Bb]in/
[Oo]bj/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio / IDE specific
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.user
*.userosscache
*.sln.docstates
*.suo

# NuGet Packages
*.nupkg
packages/

# =========================
# Secrets / Environment
# =========================
# NEVER COMMIT THESE!
.env
.env.*
!.env.example
*.secret

# =========================
# OS Specific
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db